<div class="index-container">
  <div class="cards">
    <% @jamsessions.each do |jamsession| %>
      <%= render "card", jamsession: jamsession %>
    <% end %>
  </div>

  <div id="map"
  style="width: 30%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
