<div class="sh-container col-sm-12">
  <div class="shw-card col-12 col-xs-6 col-sm-6">

  <div class="card-show-jamsession">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-show-jamsession-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

    <% if @jamsession.image.attached? %>
      <%= cl_image_tag (@jamsession.image.key), height: 200, class: "jamsession-img" %>
    <% else %>
      <%= image_tag 'backgo_mfzx8q_2_jfia6a.jpg', height: 200, width: 300, class: "jamsession-img" %>
    <% end %>
  </div>
</div>