<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render "bio_container" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="cards">
      
        <% current_user.jam_sessions.each do |jamsession| %>
          <%= render "jamsessions/card", jamsession: jamsession %>
        <% end %>
      </div>
    </div>
      </div>
</div>