<div class="profile-container">
  <div class="row">
    <div class="col-6 offset-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../app/assets/images/profile_background_banner.jpg)">
  Profile
</div>

      <div class="container">
        <h4><b><%= current_user.first_name %> <%= current_user.last_name %></b></h4>
      </div>


    </div>
  </div>
</div>

