	<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Resources</h3>
							<ul class="alt">
								<li><a href="#">Blog.</a></li>
								<li><a href="#">Events.</a></li>
								<li><a href="#">Community.</a></li>
								<li><a href="#">Help center.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Partners</h3>
							<ul class="alt">
								<li><a href="#">Integrations.</a></li>
								<li><a href="#">Find an expert.</a></li>
								<li><a href="#">Become a partner.</a></li>
								<li><a href="#">Toolkit.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Company</h3>
							<ul class="alt">
								<li><a href="#">About</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Reviews.</a></li>
								<li><a href="#">Contact us.</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
					&copy; 2020 Music Connects.
				</div>
			</footer>
