	<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Your account</h3>
							<ul class="alt">
								<li><a href="#">Settings</a></li>
								<li><%= link_to "Log out", destroy_user_session_path %></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Discover</h3>
							<ul class="alt">
								<li><%= link_to "Jam sessions", jamsessions_path %></li>
								<li><a href="#">Musicians</a></li>
								<li><a href="#">Instruments</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Music Connects</h3>
							<ul class="alt">
								<li><a href="#">About us</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
					&copy; 2020 Music Connects.
				</div>
			</footer>
