<p style="font-family: sans-serif;">Hello, <%= @user.first_name %> !</p>

<p style="font-family: sans-serif;">Good news! Your last request to join a jam session has been accepted! :)</p>

<p style="font-family: sans-serif;">You can check your <%= link_to "profile page", account_url %>  to get more details.</p>

<p style="font-family: sans-serif;">Hope you have a great time!</p>

<p style="font-family: sans-serif;">Cheers,</p>

<p style="font-family: sans-serif;"><i class="fa fa-headphones"></i> Team Music-Connects</p>
