<p style="font-family: sans-serif;">Hello, <%= @user.first_name %>,</p>

<p style="font-family: sans-serif;">We are very sorry but your last request to join a jam session has been declined. :/</p>

<p style="font-family: sans-serif;">We know, it sucks...</p>

<p style="font-family: sans-serif;">Maybe you can check other event happening next to you? You can check <%= link_to "here", root_url %> .</p>

<p style="font-family: sans-serif;">Cheers,</p>

<p style="font-family: sans-serif;"><i class="fa fa-headphones"></i> Team Music-Connects</p>
