<br>
<br>
<br>
<br>
            <h3>Want to be part of this jam session?</h3>
            <br>
            <%= simple_form_for @request, url: jamsession_requests_path(@jamsession)  do |f| %>
            <%= f.hidden_field :status, value: "pending" %>
            <%= f.submit "Send a request", class: "btn btn-dark" %>
          <% end %>

