
				<section id="banner">
					<div class="inner">
						<header>
							<h1>This is Music Connects</h1>
							<p>Connecting people through music. Come jam with us!</p>
						</header>

						<%= render "search" %>

					</div>

				</section>



		<!-- Main -->
			<div id="main">

			

		<!-- Footer -->
		