.btn-outline-light {
  border: none;
  background-color: transparent;
}

.dropdown-toggle::after {
    display:none;
}

#dropdown-item-strong {
  font-weight: bolder;
  text-decoration: underline;
}

// profile page

.button-position-profile {

  display: flex;

}

.one-button-position-profile {
  padding-right: 20px;
}



.button-request {
    position: absolute;
    padding-top: 2px;
    margin-left: 540px;
}

// navbar

.dropdown-show {
  display: flex;
  align-items: baseline;
}
