.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 65px;
  background-color: rgba(3, 19, 33, 1);
}

.navbar h1 {
  font-size: 25px;
}

// #navbar {
//   overflow: hidden;
//   background-color: #333;
// }
